<h1>Welcome to WeightLogger </h1>
    <ul>
        <% current_user.entries.each do |entry| %>
            <div class="entries">
                <%= link_to entry.meal_type, entry %>
                <%= link_to entry.current_date, entry %>
            </div>
        <% end %>    
    </ul>
    
<h2><%= link_to "Enter New Entry", new_entry_path %></h2>