body, html {
    font-family: Helvetica;
    height: 100%;
    background-image: asset-data-url("scale-1.jpg");
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black 1px;
    border-radius: 1em;
    padding:10px;
    background-color: azure;
}

div.entries {
text-align:center;
font-size: 22px;
}

p.navbar-text {
    text-align:right;
}

div.show {
    text-align:center;
    border:1px solid black;
    border-radius:1.5em;
    width: 30%;
    background-color:azure;
    top:50%;
    left:50%;
    margin:auto;

}

div.nav {
    text-align:center;
    margin-top:10px;
    font-size:20px;
}

div.form {
    text-align:center;
}

div {
    padding: 5px;
}

div.field {
    text-align:center;
    padding:5px;
}

div.actions {
    text-align:center;
}

div.shared-link {
    text-align:center;
}

p.alert-danger {
    text-align:center;
}

p.alert-success {
    text-align:center;
}